---
import RestaurantOSLayout from "../../layouts/RestaurantOSLayout.astro";
import POS from "../../components/restaurant/POS.jsx";
import "../../styles/restaurant.css";
---

<RestaurantOSLayout title="POS Terminal | Bobo Restaurant OS">
   <div class="h-screen py-4">
      <POS client:load />
   </div>
</RestaurantOSLayout>

<style is:global>
  .no-scrollbar::-webkit-scrollbar { display: none; }
</style>
