---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Billing POS | Bobo Analytics">

<h1>Pharmacy Billing POS</h1>

<input type="text" placeholder="Search medicine" />

<button>Add to Bill</button>

<table class="bill">

<thead>
<tr>
<th>Medicine</th>
<th>Qty</th>
<th>Price</th>
</tr>
</thead>

<tbody id="billItems"></tbody>

</table>

</MainLayout>