---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Retailer Bill Scanner">

<h1>Retailer Bill Scanner</h1>

<p>Upload retailer invoice and extract medicines automatically.</p>

<input type="file" />

<button>Scan Bill</button>

</MainLayout>