---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Bobo Analytics">

<section class="page">

<h1 style="text-align:center;padding:80px 20px;">
Welcome to Bobo Analytics 🚀
</h1>

</section>

</MainLayout>

<style>
.page{
min-height:80vh;
background:
linear-gradient(
180deg,
#ff7a00,
#ffffff,
#000000,
#ffffff,
#0047ff
);
color:black;
}
</style>