---
import MainLayout from "../layouts/MainLayout.astro";
import IndustryCard from "../components/IndustryCard.astro";
import DemoForm from "../components/DemoForm.astro";
---

<MainLayout title="Bobo Analytics">

<section class="hero">
  <h1>AI Analytics Platform for Every Industry</h1>
  <p>Select your industry and experience software built specially for you.</p>
</section>

<section class="industries">

<h2>Industries We Serve</h2>

<div class="grid">

<IndustryCard
title="Pharmacy"
description="Billing, inventory, CRM & AI insights."
link="/solutions/pharmacy"
status="live"
/>

<IndustryCard
title="Healthcare"
description="Hospital intelligence platform."
status="dev"
/>

<IndustryCard
title="Retail"
description="Sales forecasting automation."
status="dev"
/>

<IndustryCard
title="Finance"
description="Predictive financial analytics."
status="dev"
/>

</div>

</section>

<DemoForm />

<style>

.hero{
  text-align:center;
  padding:90px 20px;
  background:linear-gradient(135deg,#ea580c,#000,#2563eb);
  color:white;
}

.industries{
  padding:80px 20px;
  text-align:center;
}

.grid{
  margin-top:40px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:25px;
  max-width:1000px;
  margin:auto;
}

</style>

</MainLayout>