---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/restaurant.css";
---

<MainLayout title="TEST PORTAL | Bobo OS" hideNav={true}>
  <div class="test-env bg-black min-h-screen text-white flex items-center justify-center p-10">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
       <a href="/restaurant-login" class="p-20 bg-orange-600 rounded-3xl text-center font-black text-2xl">RESTAURANT (CLICK HERE)</a>
       <a href="/pharmacy-login" class="p-20 bg-emerald-600 rounded-3xl text-center font-black text-2xl">PHARMACY</a>
       <a href="/retail-crm" class="p-20 bg-indigo-600 rounded-3xl text-center font-black text-2xl">RETAIL</a>
       <a href="/bakers-login" class="p-20 bg-rose-600 rounded-3xl text-center font-black text-2xl">BAKER</a>
    </div>
  </div>
</MainLayout>
